In [ ]:
# 1.Write a Python program to create a tuple.

# 2.Write a Python program to create a tuple with 
# different data types.

# 3.Write a Python program to create a tuple with 
# numbers and print one item.

# 4.Write a Python program to add an item in a tuple.

# 5.Write a Python program to convert a tuple to a string.

# 6.Write a Python program to convert a list to a tuple.

# 7.Write a Python program to remove an item from a tuple.

# 8.Write a Python program to find the index of an 
# item of a tuple.

# 9.Write a Python program to reverse a tuple.

# 10.Write a Python program calculate the product, 
# multiplying all the numbers of a given tuple. 
# Original Tuple:
# (4, 3, 2, 2, -1, 18)

# 11.Python – Adding Tuple to List and vice – versa.

# 12.Python program to find tuples which have 
# all elements divisible by K from a list of tuples.

# 13.Python – Removing duplicates from tuple.

In [2]:
# 1.Write a Python program to create a tuple.

a = 23,54,67,89,29,90
print(a)
type(a)

(23, 54, 67, 89, 29, 90)

tuple

In [3]:
# 2.Write a Python program to create a tuple with 
# different data types.

x = (34,54,89.56,76.12,'hello','ram',True,3+2j)
print(x)
type(a)

(34, 54, 89.56, 76.12, 'hello', 'ram', True, (3+2j))

tuple

In [9]:
# 3.Write a Python program to create a tuple with 
# numbers and print one item.

x = (23,45,678,90,45,32,86)
print(x[0])
type(x)

23

tuple

In [11]:
# 4.Write a Python program to add an item in a tuple.

a = (3,5,65,4,23,43,56)
b = (4,)
c = a+b
print(c)
type(c)

(3, 5, 65, 4, 23, 43, 56, 4)

tuple

In [41]:
# 5.Write a Python program to convert a tuple to a string.

x = (34,54,68)
type(x)
a = str(x)
a

'(34, 54, 68)'

In [30]:
# 6.Write a Python program to convert a list to a tuple.

a = 'mahesh kumar'
x = tuple(str(a))
print(x)
type(x)

('m', 'a', 'h', 'e', 's', 'h', ' ', 'k', 'u', 'm', 'a', 'r')

tuple

In [49]:
# 7.Write a Python program to remove an item from a tuple.

x = (23,45,89,90,76,'Hello',23.4)
a = x[:3]
b = x[4:]
z = a + b
z

(23, 45, 89, 76, 'Hello', 23.4)

In [50]:
x = (23,45,89,90,76,'Hello',23.4)
y = list(x)
y

[23, 45, 89, 90, 76, 'Hello', 23.4]

23.4

In [57]:
y.pop()

'Hello'

In [59]:
y.pop(45)

IndexError: pop index out of range

In [ ]:
# 8.Write a Python program to find the index of an 
# item of a tuple.

In [63]:
a = (34,5,4,23,45,12,14)

a.index(45)

4

In [4]:
# 9.Write a Python program to reverse a tuple.

f = (25,45,"hina",6.25,True)
f[::-1]

(True, 6.25, 'hina', 45, 25)

In [9]:
f[0:6]

(25, 45, 'hina', 6.25, True)

In [6]:
# 10.Write a Python program calculate the product, 
# multiplying all the numbers of a given tuple. 
# Original Tuple:
# (4, 3, 2, 2, -1, 18)

x = (4,3,2,2,-1,18)
mul = 1
for i in x:
    mul = mul*i
mul

-864

In [81]:
# 11.Python – Adding Tuple to List and vice – versa.

(2, 34, 56, 'ram', 5, 67, 'mohan')

In [86]:
# 12.Python program to find tuples which have 
# all elements divisible by K from a list of tuples.
# 12...>
x = [(34,5,67,3,89,23,50)]
k = 4
for i in x:
    if (i%k == 0):
        print(i ,"divisible by " , k)
    else:
        print(i ,"not divisible by" , k)

34 not divisible by 4
5 not divisible by 4
67 not divisible by 4
3 not divisible by 4
89 not divisible by 4
23 not divisible by 4
50 not divisible by 4

In [88]:
x = (923,45,67,45,90,45,90,45)
a = set(x)
a

{45, 67, 90, 923}

In [89]:
# add tuple in list
k = ["anup","meena",3.2]
k += (5,25,84,"hemant"),
k

['anup', 'meena', 3.2, (5, 25, 84, 'hemant')]